[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/message"]
	path = modules/message
	url = git://github.com/GeertDD/kohana-message.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/minion"]
	path = modules/minion
	url = git://github.com/kohana-minion/core.git
[submodule "modules/compress"]
	path = modules/compress
	url = git://github.com/azampagl/kohana-compress.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/shadowhand/pagination.git
[submodule "modules/minion-tasks-migrations"]
	path = modules/minion-tasks-migrations
	url = git://github.com/kohana-minion/tasks-migrations.git
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/shadowhand/email.git
[submodule "proxima/modules/userguide"]
	path = proxima/modules/userguide
	url = git@github.com:badsyntax/userguide.git
[submodule "modules/media"]
	path = modules/media
	url = git://github.com/Zeelot/kohana-media.git
[submodule "system"]
	path = system
	url = git@github.com:badsyntax/core.git
[submodule "modules/image"]
	path = modules/image
	url = git@github.com:badsyntax/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = git@github.com:badsyntax/orm.git
