[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "proxima/core/cache"]
	path = proxima/core/cache
	url = https://github.com/kohana/cache.git
[submodule "proxima/core/database"]
	path = proxima/core/database
	url = https://github.com/kohana/database.git
[submodule "proxima/core/orm"]
	path = proxima/core/orm
	url = https://github.com/kohana/orm.git
[submodule "proxima/core/message"]
	path = proxima/core/message
	url = git://github.com/GeertDD/kohana-message.git
[submodule "proxima/core/auth"]
	path = proxima/core/auth
	url = https://github.com/kohana/auth.git
[submodule "proxima/core/image"]
	path = proxima/core/image
	url = https://github.com/kohana/image.git
[submodule "proxima/core/minion"]
	path = proxima/core/minion
	url = git://github.com/kohana-minion/core.git
[submodule "proxima/core/core/vendor/swiftmailer"]
	path = proxima/core/core/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "proxima/core/compress"]
	path = proxima/core/compress
	url = git://github.com/azampagl/kohana-compress.git
[submodule "proxima/core/pagination"]
	path = proxima/core/pagination
	url = git://github.com/shadowhand/pagination.git
