[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm.git
[submodule "modules/message"]
	path = modules/message
	url = git://github.com/GeertDD/kohana-message.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git@github.com:badsyntax/pagination.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/site/classes/component/driver/contact/vendor"]
	path = modules/site/classes/component/driver/contact/vendor
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "modules/compress"]
	path = modules/compress
	url = https://github.com/azampagl/kohana-compress.git
[submodule "modules/image"]
	path = modules/image
	url = https://github.com/kohana/image.git
